<html>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          'use strict';

          var hostname = window.location.hostname;
          var env = hostname === 'localhost' ? 'development':'production';
          var token;

          if (env === 'development') {
            token = 'eyJhbGciOiAiSFMyNTYiLCAidHlwIjogIkpXVCJ9.eyJ1c2VyX2lkIjogMSwgImV4cCI6IDE0MDEwMzcyMzMsICJ0b2tlbl92ZXJzaW9uIjogIjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCJ9.rSpd1jf_LbdAua47Q7vC1J2jMr4VD0iJlgem08DtMa8';
          } else {
            token = 'eyJhbGciOiAiSFMyNTYiLCAidHlwIjogIkpXVCJ9.eyJ1c2VyX2lkIjogMSwgImV4cCI6IDE0MDA3OTIyNDksICJ0b2tlbl92ZXJzaW9uIjogIjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCJ9.RvGxxig2LQUSHAVO5I0IsnUkkBBUWGntzLPNECoqoHY';
          }

          var socket = io.connect('/', {query: 'jwt=' + token});

          socket.on('error', function(reason) {
            console.error('unable to connect websocket server:', reason);
          });

          socket.on('connect', function() {
            console.info('successfully established a working connection');

            var userRooms = ['u1', 'a1'];

            userRooms.forEach(function(room) {
              socket.emit('subscribe', room);
            });
          });

          socket.on('roomAuth', function(data) {
            console.error('roomAuth:', data);
          });

          socket.on('joinedRoom', function(data) {
            console.log('joinedRoom:', data);
          });

          socket.on('message', function(data) {
            console.log(data);
          });
        </script>
    </body>
</html>
