<html>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          'use strict';

          var token = 'eyJhbGciOiAiSFMyNTYiLCAidHlwIjogIkpXVCJ9.eyJ0b2tlbl92ZXJzaW9uIjogImU3ODRjNmI3LThlMzQtNDI5Mi1iMTEyLTliZDViOGM3NWE2NSIsICJleHAiOiAxNDAwNjEzMDIxLCAidXNlcl9pZCI6IDJ9.7lctxGFABUTqI1PUu8c1xDTP5RCkq3Yb4d2dEKYs3DY';

          var socket = io.connect('http://localhost', {query: 'jwt=' + token});

          socket.on('error', function(reason) {
            console.error('unable to connect websocket server:', reason);
          });

          socket.on('connect', function() {
            console.info('successfully established a working connection');

            var userRooms = ['u2', 'b2', 'a2', 'a3'];

            userRooms.forEach(function(room) {
              socket.emit('subscribe', room);
            });
          });

          socket.on('roomauthfail', function(data) {
            console.error('roomauthfail:', data.room, data.message);
          });

          socket.on('message', function(data) {
            console.log('message:', data);
          });
        </script>
    </body>
</html>
