<html>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          'use strict';

          var token = 'eyJhbGciOiAiSFMyNTYiLCAidHlwIjogIkpXVCJ9.eyJ0b2tlbl92ZXJzaW9uIjogIjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCIsICJ1c2VyX2lkIjogMSwgImV4cCI6IDE0MDA2OTczODB9.GqI7FeebWsDn2R5L7K_NRa3bWZWrTdBID48nThaedHA';

          var socket = io.connect('http://localhost', {query: 'jwt=' + token});

          socket.on('error', function(reason) {
            console.error('unable to connect websocket server:', reason);
          });

          socket.on('connect', function() {
            console.info('successfully established a working connection');

            var userRooms = ['u1', 'a1'];

            userRooms.forEach(function(room) {
              socket.emit('subscribe', room);
            });
          });

          socket.on('roomauthfail', function(data) {
            console.error('roomauthfail:', data.room, data.message);
          });

          socket.on('userMessage', function(data) {
            console.log('userMessage:', data);
          });

          socket.on('accountMessage', function(data) {
            console.log('accountMessage:', data);
          });
        </script>
    </body>
</html>
