<html>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          'use strict';

          var token = 'eyJhbGciOiAiSFMyNTYiLCAidHlwIjogIkpXVCJ9.eyJ1c2VyX2lkIjogMiwgImV4cCI6IDE0MDA3OTIyNTIsICJ0b2tlbl92ZXJzaW9uIjogIjRmMzJjZDgzLTk2ZTEtNGI1OC04ODhkLWE5NmJiMDYyZGVjMCJ9.-n7ebxOhiVHYxhoPyJZ6_G0evLlwSeefvAp7edq36-E';

          var socket = io.connect('/', {query: 'jwt=' + token});

          socket.on('error', function(reason) {
            console.error('unable to connect websocket server:', reason);
          });

          socket.on('connect', function() {
            console.info('successfully established a working connection');

            var userRooms = ['u2', 'a2'];

            userRooms.forEach(function(room) {
              socket.emit('subscribe', room);
            });
          });

          socket.on('roomAuth', function(data) {
            console.error('roomAuth:', data);
          });

          socket.on('joinedRoom', function(data) {
            console.log('joinedRoom:', data);
          });

          socket.on('message', function(data) {
            console.log(data);
          });
        </script>
    </body>
</html>
